.formcontainer{
    display:flex;
    flex-direction:column;
    max-width:500px;
}
.formcontainer button{
    background-color:blue;
    max-width:100px;
    margin-left: 100px;
    color:white
}
/* .form{
    display:flex;
    justify-content:center;
    align-items: center;
    /* text-align: center; */
    /* height:100vh
} */ 